:root{
    --cada-item: 28px;
    --cantidad-items: 0;
}


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background-color: #fcca46;
    border: solid 10px black;
}

.logo {
    max-width: 5rem;
}

.nav-list {
    list-style-type: none;
    display: flex;
    gap: 1rem;
}

.nav-list li a {
    text-decoration: none;
    color: #619b8a;
}

.abrir-menu,
.cerrar-menu {
    display: none;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 16px;
}

nav ul li{
    border-bottom: 1px solid #1E1E1E;
}

nav ul a{
    box-sizing: border-box;
    color: white;
    display: block;
    width: 100%;
    padding: 6px 10px;
    text-decoration: none;
}

nav ul ul{
    height: 0px;
    overflow: hidden;
    transition: .3s;
    counter-reset: items;
}
nav ul ul li{
    counter-increment: items;
}

nav ul li:hover ul{
    height: calc( var(--cantidad-items) * var(--cada-item));
    color: #1E1E1E;
    text-align: center;
    padding: 10px;
}

nav ul ul a{
    background: transparent;
}

@media screen and (max-width: 750px) {
    .abrir-menu,
    .cerrar-menu {
        display: block;
        border: 0;
        font-size: 1.25rem;
        background-color: transparent;
        cursor: pointer;
    }

    .abrir-menu {
        color: #1c1c1c;
    }

    .cerrar-menu {
        color: #ececec;
    }

    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #1c1c1c;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
        z-index: 2;
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }

    .nav-list {
        flex-direction: column;
        align-items: end;
    }

    .nav-list li a {
        color: #ecececec;
    }

    nav ul li:hover ul{
        height: calc( var(--cantidad-items) * var(--cada-item) );
        color: #ffff;
        text-align: center;
        padding: 10px;
    }
}
