.grid-carrusel{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 500px;
    margin: 25px 5% 25px 5%;
    gap: 5%;
    height: 500px;
    }

    .d-block{
height: 500px;
width: 100%;
    }

    .texto-carrusel{
        color:antiquewhite;
    }

    .flex-productos-cr{
    grid-column: 2/3;
    grid-row: 1/2;
    }
    
    .boton{
        padding: 5px;
    }